{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Add Event</h2>
    <form method="post">
        <div class="form-group">
            <label>Event Title</label>
            <input name="title" placeholder="e.g. Weekly Workshop" required>
        </div>
        <div class="form-group">
            <label>Start Time</label>
            <input type="text" name="start" class="datetime-picker" placeholder="Select Start Time" required>
        </div>
        <div class="form-group">
            <label>End Time</label>
            <input type="text" name="end" class="datetime-picker" placeholder="Select End Time" required>
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea name="description" rows="4"></textarea>
        </div>
        <button class="btn">Create Event</button>
    </form>
</div>
{% endblock %}