{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Edit Resource</h2>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input name="name" value="{{ resource.resource_name }}" required>
        </div>

        <div class="form-group">
            <label>Type</label>
            <select name="type">
                <option {{ 'selected' if resource.resource_type=='Room' else '' }}>Room</option>
                <option {{ 'selected' if resource.resource_type=='Instructor' else '' }}>Instructor</option>
                <option {{ 'selected' if resource.resource_type=='Equipment' else '' }}>Equipment</option>
                <option {{ 'selected' if resource.resource_type=='Vehicle' else '' }}>Vehicle</option>
                <option {{ 'selected' if resource.resource_type=='Support Staff' else '' }}>Support Staff</option>
            </select>
        </div>

        <button class="btn">Update Resource</button>
    </form>
</div>
{% endblock %}