{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Allocate Resource</h2>
    <form method="post">
        <div class="form-group">
            <label>Event</label>
            <select name="event">
                {% for e in events %}
                <option value="{{ e.event_id }}">{{ e.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Resource</label>
            <select name="resource">
                {% for r in resources %}
                <option value="{{ r.resource_id }}">{{ r.resource_name }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn">Allocate Resource</button>
    </form>
</div>
{% endblock %}